<div class="home-div">
    <div class="home-boxes">
        <div class="hero-section-1">
            <div class="hero-box" id="box-1"><img src="assets/meetroom.jpg" /></div>
            <div class="hero-box">
                <ul>
                    <li>✔ Book available rooms for scheduled meetings</li>
                    <li>✔ Find the earliest free time slot for quick, unscheduled calls</li>
                    <li>✔ Smart, fast, and 100% hassle-free</li>
                    Ready to make every meeting count?
                </ul>
            </div>
        </div>
        <div class="hero-section-2">
            <div class="hero-box" id="heading-intro">
                <h2>MeetWise X – Smart Meeting Room Assistant</h2>
                <p>Tired of the endless back-and-forth to book a Meeting Room?</p>
                <p>
                    We get it. <strong>MeetWise X</strong> makes room booking effortless —
                    just pick a time and we’ll handle the rest.
                    No wasted minutes. No frustration. Just smart scheduling.
                </p>
            </div>
            <div class="hero-box" id="box-2"><img src="assets/meetroom2.jpg" /></div>
        </div>
    </div>
</div>